.type {
  display: inline-block;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0.5rem;
  border-radius: 5px;
}

.type + .type {
  margin-top: 0.3rem;
}

.typeList {
  display: flex;
  flex-direction: column;
  margin: 0.3rem 0;
}
